.services3-container {
    text-align: center;
    padding: 20px;
    max-width: 100%;
    margin: auto;
}


/* .services2-divider {
    width: 50%;
    margin: 20px auto;
    border: 1px solid #000;
} */

.services3-title {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.services3-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
}

.services3-item {
    background: #ffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.services3-icon {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.services3-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.services3-description {
    font-size: 17px;
    color: #555;
}