/* IntegratedModel.css */

.container-add6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-color: white;
}

.title-add6 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.description-add6 {
    font-size: 1.1rem;
    color: #060606;
    max-width: 600px;
    margin-bottom: 40px;
}

.underline-add6 {
    text-decoration: underline;
}

.grid-container-add6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background-color: #f6f5f4;
    padding: 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 900px;
    position: relative;
}

.grid-item-add6 {
    padding: 20px;
    position: relative;
}

.left-add6 {
    text-align: left;
}

.right-add6 {
    text-align: right;
}

.subtitle-add6 {
    font-size: 1.8rem;
    font-weight: 300;
}

.text-add6 {
    color: #0d0d0d;
    margin-bottom: 20px;
}

.button-add6 {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.diversity-add6 {
    background-color: #1A3D2F;
    color: white;
}

.inclusion-add6 {
    background-color: #a6b5f1;
    color: white;
}

.equity-add6 {
    background-color: #E8EBCF;
    color: black;
}

.belonging-add6 {
    background-color: #B0D8EA;
    color: black;
}

.button-add6:hover {
    opacity: 0.8;
}


/* Horizontal Line */

.horizontal-line-add6 {
    grid-column: span 2;
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}


/* Vertical Line */

.grid-container-add6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #ccc;
    transform: translateX(-50%);
}